<!-- web/templates/experience.html -->
<!-- DOCTYPE html -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Experience</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body class="experience-page-background">
    <nav class="page-nav">
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/experience" class="active">Experience</a>
    </nav>
    <a href="/" class="back-link">> Return to Mainframe_</a>
    <div class="experience-container">
        <div class="experience-header">
            <h1>> Experience Log_</h1>
        </div>
        <div class="timeline-wrapper">
            <div id="timeline-left" class="timeline">
                <div class="timeline-header"><h3>Side Hustle</h3></div>
                <div class="timeline-section experience-item" data-start-date="2025-05-01" data-end-date="2025-08-01">
                    <div class="timeline-date">
                        May 2025 - Aug 2025 · <span class="duration"></span>
                    </div>
                    <div class="timeline-box">
                        <div class="box-title">
                            <h3>Staff Manager</h3>
                        </div>
                        <div class="box-content">
                            <p class="meta-info">Discord · <span class="highlight">Community</span></p>
                              <ul class="description">
                                  <li>Supervised and trained a team of moderators in a large gaming community.</li>
                                  <li>Audited moderation logs and investigated staff misconduct to ensure policy compliance.</li>
                                  <li>Contributed to refining moderation procedures and resolving escalated conflicts.</li>
                              </ul>
                        </div>
                        <div class="box-skills">
…                           <span class="skill-tag">Leadership</span>
                            <span class="skill-tag">Team Management</span>
                            <span class="skill-tag">Conflict Resolution</span>
                        </div>
                    </div>
                </div>
                <div class="timeline-section experience-item" data-start-date="2024-03-01" data-end-date="2025-05-01">
                    <div class="timeline-date">
                        Mar 2024 - May 2025 · <span class="duration"></span>
                    </div>
                    <div class="timeline-box">
                        <div class="box-title">
                            <h3>Moderator</h3>
                        </div>
                        <div class="box-content">
                            <p class="meta-info">Discord · <span class="highlight">Community</span></p>
                            <ul class="description">
                                <li>Monitored channels and enforced community guidelines for 100,000+ members.</li>
                                <li>Issued warnings, mutes, and bans using moderation bots and tools.</li>
                                <li>Logged all moderation actions with detailed reports for staff accountability.</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div id="timeline-right" class="timeline">
                <!-- New Experience Section -->
                <div class="timeline-header"><h3>Day Job</h3></div>
                <div class="timeline-section experience-item" data-start-date="2023-01-01" data-end-date="Present">
                    <div class="timeline-date">
                        Jan 2023 - Present · <span class="duration"></span>
                    </div>
                    <div class="timeline-box">
                        <div class="box-title">
                            <h3>Administrative Services Officer</h3>
                        </div>
                        <div class="box-content">
                            <p class="meta-info">PT. ecoCare Indo Pasifik · <span class="highlight">Contract</span></p>
                            <ul class="description">
                                <li>Create and manage schedules for technicians.</li>
                                <li>Prepare, check, and analyze service performance documents.</li>
                                <li>Monitor weekly service reports and manage material inventory.</li>
                            </ul>
                        </div>
                        <div class="box-skills">
                            <span class="skill-tag">Microsoft Excel</span>
                            <span class="skill-tag">Data Analys</span>
                            <span class="skill-tag">Leadership</span>
                            <span class="skill-tag">ERP</span>
                            <span class="skill-tag">Materials Management</span>
                        </div>
                    </div>
                </div>
                <div class="timeline-section experience-item" data-start-date="2022-12-01" data-end-date="2023-03-01">
                    <div class="timeline-date">
                        Dec 2022 - Mar 2023 · <span class="duration"></span>
                    </div>
                    <div class="timeline-box">
                        <div class="box-title">
                            <h3>Administrative Sales</h3>
                        </div>
                        <div class="box-content">
                            <p class="meta-info">PT. ecoCare Indo Pasifik · <span class="highlight">Contract</span></p>
                            <p class="description">
                                Supported sales operations through market research, digital marketing, and ERP implementation tasks.
                            </p>
                        </div>
                        <div class="box-skills">
                            <span class="skill-tag">Online Marketing</span>
                            <span class="skill-tag">Market Research</span>
                            <span class="skill-tag">ERP Implementations</span>
                            <span class="skill-tag">Digital Marketing</span>
                        </div>
                    </div>
                </div>
                <div class="timeline-section experience-item" data-start-date="2022-06-01" data-end-date="2022-12-01">
                    <div class="timeline-date">
                        Jun 2022 - Dec 2022 · <span class="duration"></span>
                    </div>
                    <div class="timeline-box">
                        <div class="box-title">
                            <h3>Administrative Services Officer</h3>
                        </div>
                        <div class="box-content">
                            <p class="meta-info">PT. Indocare Pacific (ecoCare) · <span class="highlight">Internship</span></p>
                            <ul class="description">
                                <li>Scheduled and coordinated technician assignments.</li>
                                <li>Prepared, verified, and analyzed service documents and performance reports.</li>
                                <li>Managed and monitored material inventory and weekly service reports.</li>
                            </ul>
                        </div>
                        <div class="box-skills">
                            <span class="skill-tag">Management</span>
                            <span class="skill-tag">Microsoft Excel</span>
                            <span class="skill-tag">Data Analysis</span>
                            <span class="skill-tag">DBMS</span>
                            <span class="skill-tag">Project Management</span>
                            <span class="skill-tag">DBeaver</span>
                        </div>
                    </div>
                </div>
                <div class="timeline-section experience-item" data-start-date="2021-09-01" data-end-date="2022-02-01">
                    <div class="timeline-date">
                        Sept 2021 - Feb 2022 · <span class="duration"></span>
                    </div>
                    <div class="timeline-box">
                        <div class="box-title">
                            <h3>Junior Software Developer</h3>
                        </div>
                        <div class="box-content">
                            <p class="meta-info">PT. Wilwatikta Jaya Abadi · <span class="highlight">Internship</span></p>
                            <p class="description">
                                Learned and assisted in developing production-level software using Go and MongoDB.
                            </p>
                        </div>
                        <div class="box-skills">
                            <span class="skill-tag">Go</span>
                            <span class="skill-tag">MongoDB</span>
                            <span class="skill-tag">Software Development</span>
                            <span class="skill-tag">Git</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/static/js/script.js"></script>
</body>
</html>
